*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7;
  background: #f4f4f4;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

.container {
  max-width: 80%;
  width: 114rem;
  margin: 0 auto;
}

/* grid system */

.grid-wrapper {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 6rem auto 5rem;
  grid-auto-flow: row;
}
