*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7;
  background: #f4f4f4;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

/* .container {
  max-width: 80%;
  width: 114rem;
  margin: 0 auto;
} */

/* grid system */

.grid-wrapper {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 6rem auto 5rem;
  grid-auto-flow: row;
  min-height: 100vh;
}

.text-upper {
  text-transform: uppercase;
}

.text-bold {
  font-weight: 500;
}

.fs-big {
  font-size: 2rem;
}

.icon-happy {
  color: #289f0b;
}

.icon-sad {
  color: #d3af36;
}

.icon-cry {
  color: #b51818;
}

input {
  padding: 0.5em 1.2rem;
  width: 100%;
  border: 1px solid #f4f4f4;
  outline: none;
  border-radius: 4px;
  transition: all 0.2s;
}

input:focus {
  border-color: rgb(0, 100, 200);
}

::placeholder {
  color: #ccc;
}

/* Media queries */
@media (max-width: 576px) {
  .grid-wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 6rem auto 5rem;
    grid-auto-flow: row;
    min-height: 100vh;
  }
}
